:root {
  --white: #fff;
  --bg-calculate: #2d2a37;

  --sub-text: #6b6b6b;
  --text: #ebebeb;

  --violet-100: #462878;
  --violet-400: #975dfa;
  --violet-500: #7f45e2;
  --violet-gradient: linear-gradient(180deg, #807ece 0%, #8e7ece 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Rubik";
}

body {
  background: var(--violet-gradient);
  width: 100%;
  height: 100vh;
}

button {
  outline: none;
  background-color: transparent;
}

button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.calculate {
  background: #2d2a37;
  border-radius: 48px;
  padding: 2rem;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  max-width: 22.25rem;
}

.visor {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  padding-left: 1rem;
  padding-right: 1.5rem;
  margin-bottom: 1.75rem;
}

.pre-calculation {
  color: var(--sub-text);
  font-size: 1.25rem;
  align-self: flex-end;
  min-height: 1.5rem;
}

.result {
  display: flex;
  justify-content: space-between;
  align-items: center;

  min-height: 2.6875rem;
}

.equal {
  color: var(--sub-text);
  font-size: 2rem;
}

.result-text {
  color: var(--text);
  font-size: 2.25rem;
}

.keyboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.75rem;
}

.button {
  all: unset;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.05) 0%,
      rgba(255, 255, 255, 0.05) 100%
    ),
    #2d2a37;
  box-shadow: 0px 11px 7px rgba(0, 0, 0, 0.01), 0px 7px 7px rgba(0, 0, 0, 0.04),
    0px 4px 6px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.26),
    0px 0px 2px rgba(0, 0, 0, 0.29), inset 0px 2px 3px rgba(255, 255, 255, 0.06);
  border-radius: 999px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;

  font-size: 1.5rem;
  line-height: 1.75rem;
  letter-spacing: -0.02em;

  width: 4rem;
  height: 4rem;

  color: var(--white);
}

.bg-violet-100 {
  background-color: var(--violet-100);
}

.color-violet-400 {
  color: var(--violet-400);
}

.equal-bg {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.15) 0%,
      rgba(255, 255, 255, 0.05) 100%
    ),
    #7f45e2;
}
